#título{
<<<<<<< HEAD
	color:rgb(128, 100, 64);
=======
	color:rgb(139, 69, 19);
>>>>>>> 72ebbdc28bf4d63ebdc9ab8625ca22e431e8a62d
}

#sub{
	color:maroon;
}

#principal{
	color:Teal;
}

#gold{
	color:Olive;
}

.texto{
	color:Maroon;
}
