body{

}

#título{
	color:rgb(139, 69, 22);
}

#sub{
	color:#4AFC04;
}

#paragrafos{
	color:darkblue;
	background: url(https://wi.wallpapertip.com/wsimgs/0-3788_simple-light-blue-background.jpg);
}

#gold{
	color:Olive;
}

.texto{
	color:Maroon;
}
