body{

}

#título{
	color:rgb(13, 10, 200);
}

#sub{
	color:rgb(13, 10, 200);
}

#paragrafos{
	color:darkblue;
	background: url(http://eskipaper.com/images/sunny-day-background-1.jpg);
}

#titsub{
	color: darkblue;
	background: url(https://image.shutterstock.com/image-vector/warm-sun-on-yellow-background-260nw-1379856974.jpg);
}

#gold{
	color:darkblue;
}

.texto{
	color:darkblue;
}

#cm{
	background-color: blue;
	width:1cm;
	height:1cm;
}

#mm{
	background-color: red;
	width:1mm;
	height:1mm;
}

#in{
	background-color: blue;
	width:1in;
	height:1in;
}

#px{
	background-color: red;
	width:10px;
	height:10px;
}

#pt{
	background-color: blue;
	width:10pt;
	height:10pt;
}

#pc{
	background-color: red;
	width:1pc;
	height:1pc;
}

/*html{
	font-size: 20px;
}*/

.container{
	width: 100vw;
	background: red;
}

.inside{
	width: 100px;
	background: blue;
}

.container{
	width: 200px;
	height: 500px;
	background: red;
}

.inside{
	width: 50%;
	height: 50%;
	background: blue;
}